@media (max-width: 575px) {
  .bannerhead {
    font-size: 2rem !important;
  }
  .float {
    right: 1rem;
  }
  .bannerimg {
    height: 400px !important;
    background-size: cover;
  }
  .storebg {
    padding: 1.5rem;
  }
  .border-rt,
  .border-rtn {
    padding-bottom: 0.8rem;
  }
  .dualcolor,
  .bannerimg,
  #banner2_slide.owl-carousel.owl-drag .owl-item {
    height: auto !important;
  }
  .dualcolor {
    padding: 4rem 0rem 0rem 0rem !important;
    min-height: 270px !important;
  }
  .btnwht{
    margin-left: 4rem;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  html,
  body {
    font-size: 0.85rem;
  }
  /* .float {
      right: 3rem;
    } */
  .storebg {
    padding: 1.5rem;
  }
  .border-rt,
  .border-rtn {
    padding-bottom: 0.8rem;
  }
  .bannerhead {
    font-size: 1.8rem !important;
  }
  /* .btnwht{
    margin-left: -1rem;
    display: flex;
    justify-content: center;
  } */
}

@media (max-width: 991px) {
  html,
  body {
    font-size: 0.85rem;
  }
  .storebg {
    padding: 1.5rem;
  }
  .mobbtn {
    margin-left: 0rem !important;
  }
  .bggreenish {
    right: 0rem;
  }
  .bgeffect {
    width: auto;
  }
  .logofoot {
    width: 175px;
    height: auto;
    margin-bottom: 1rem;
  }
  .range {
    width: auto;
  }
  .storebg {
    height: auto;
  }
  .bannerhead {
    font-size: 3rem;
  }
  .border-rtn {
    border-right: 0px solid #f1f1f1;
  }
  .border-btn {
    border-bottom: 0px solid #f1f1f1;
  }
  .border-rty {
    border-right: 1px solid #f1f1f1;
  }
  .border-bty {
    border-bottom: 1px solid #f1f1f1;
  }
  /*.whatsbghide{
                  display: none !important;
              }*/
  .dualcolor {
    height: auto !important;
    padding: 5rem 0rem 7rem 0rem;
    margin-top: 0rem;
  }
  .mbres {
    margin-bottom: -2rem;
    margin-top: -3rem;
  }
  .fhd {
    font-size: 0.9rem;
  }
  .moblogo {
    /* width: 125px; */
    height: 60px;
  }
  .copy {
    font-weight: bold;
    padding: 0.8rem 0rem;
  }
  .txtcenter-mob {
    text-align: center;
  }
  .txtcenter-mobbtn {
    margin: auto;
    display: block;
  }
  .pos {
    position: relative;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
  }
  .navfoot li {
    display: block;
    text-align: center;
    padding-bottom: 0.4rem;
  }
  .bggreenish {
    width: auto;
    padding: 4rem 3rem 4rem 3rem;
  }
  hr {
    border-top: 0px solid #ffffff42;
  }
  .btn-default {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .feedback-form {
    margin-top: -2rem !important;
  }
  .show_on_google {
    /* position: relative; */
    /* width: 100%; */
    /* bottom: 18px; */
    /* height: 0%; */
    display: flex;
    align-items: flex-start;
  }
   /* .btnwht{
    margin-left: 8rem;
    display: flex;
    justify-content: center;
  } */
 
}

@media screen and (min-width: 992px) {
  /*.whatsbgmob{
                  display: none !important;
              }*/
  .navbar{
    padding: 0;
  }
  .moblogo {
    height: 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .bannerhead {
    font-size: 3rem;
  }

  #associate .bgfeed {
    width: 43.33%;
  }
}

@media (min-width: 1200px) and (max-width: 1279px) {
  #feedback .bgfeed { 
      width: 36.33%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    font-size: 0.9rem;
  }
  .bannerhead {
    font-size: 2.5rem;
  }
  .fhdno {
    font-size: 1rem;
  }
  .fhd {
    font-size: 0.85rem;
    margin-left: -0.2rem !important;
  }
  .navbar-nav.ml-auto {
    font-size: 0.8rem;
  }
  .footcall {
    font-size: 0.8rem !important;
    padding: 0 !important;
  }
  .footheadp {
    font-size: 1rem;
  }

  .talentimg {
    position: relative;
    right: -5rem;
  }
  .dualcolor,
  .bannerimg {
    height: 400px;
  }
  /* .storebg {
      padding: 1.5rem !important;
    }*/
  .gmap_canvas {
    height: 277px;
  }
  #owl-demo.owl-carousel .owl-item {
    height: 320px;
  }
  .bgeffect {
    width: 500px;
  }
  .h1 {
    font-size: 2rem;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
  #feedback .bgfeed, #associate .bgfeed { 
    width: 46.33%;
  }
}

@media (min-width: 1600px) {
  .whatsbg {
    right: -16rem !important;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .subscribe_form {
    width: 50%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .talentimg {
    position: relative;
    right: -7rem;
  }
  /* .storebg {
      padding: 2rem;
    }*/
  .dualcolor,
  .bannerimg {
    height: 400px;
  }
  .gmap_canvas {
    height: 290px;
  }
  .bggreenish {
    padding: 3rem 11rem 3rem 5.8rem;
  }
  /* .float {
      right: 12rem !important;
    } */
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  .talentimg {
    position: relative;
    right: -1rem;
  }
  /* .float {
      right: 15rem !important;
    } */
  .container {
    width: 1400px;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

@media (min-width: 1501px) and (max-width: 1750px) {
  .talentimg {
    position: relative;
    right: 3rem;
  }
  .container {
    width: 1400px;
  }
  #associate .bgfeed {
    width: 36.33%;
  }
}

@media (min-width: 1501px) and (max-width: 1599px) {
  /* .float {
      right: 10rem !important;
    } */
  .container {
    width: 1400px;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  html,
  body {
    font-size: 0.9rem;
  }
  #exampleModalCenter {
    overflow: hidden;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: -4% !important;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -3%;
  }
  #owl-demo.owl-carousel .owl-item {
    height: 315px;
  }
  .dualcolor {
    height: 450px;
  }
  .talentimg {
    height: 420px;
  }

  .storebg,
  .gmap_canvas {
    height: 350px;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .talentimg {
    right: 7.6rem;
    max-width: 107%;
  }
  /* .bggreenish, */
  .bgeffect {
    width: 550px;
  }
}

@media (min-width: 1441px) {
  .owl-carousel .owl-nav .owl-prev {
    left: -4% !important;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -4%;
  }
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .bggreenish {
    padding: 4rem 11rem 4rem 6.7rem;
  }
  .talentimg {
    right: 5.6rem;
    /* height: 400px; */
    width: 100%;
  }
  /* .bggreenish, */
  .bgeffect {
    width: 750px;
  }
  #owl-demo .owl-item.center > .item.arrow:after,
  #owl-demo .owl-item.myactive .arrow:after {
    top: -22.8rem;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff !important;
    border: 1px solid #fff !important;
  }
}

@media (max-width: 380px) {
  .moblogo {
    height: 70px;
  }
  .btnwht{
    margin: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav {
    display: block !important;
  }
  #owl-demo .owl-item.center > .item.arrow:after {
    top: -17.8rem;
  }

  #banner2_slide.owl-carousel .owl-nav .owl-prev {
    left: -0px !important;
  }
  #banner2_slide.owl-carousel .owl-nav .owl-next {
    right: 0px !important;
  }
  #owl-demo.owl-carousel .owl-item {
    height: 250px;
  }
  .owl-theme .owl-dots .owl-dot span {
    margin-top: 0;
    background: transparent !important;
  }

  #owl-demo.owl-carousel .owl-nav .owl-prev,
  #owl-demo.owl-carousel .owl-nav .owl-next {
    position: relative;
  }
  .talents {
    background: linear-gradient(90deg, #e5f7f3 60%, #e5f7f3 40%);
  }
  .mtmap {
    /* margin-top: 3rem !important; */
  }
  /* .owl-dots {
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .head2 {
    font-size: 1rem !important;
  }
  .owl-carousel .owl-nav .owl-prev {
    left: -15px !important;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -15px !important;
  }
}

@media screen and (min-width: 1200px) {
  /* .navfoot {
            margin-left: -15rem;
          } */
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .arrow:hover:after {
    top: -21.5rem !important;
  }
}

@media screen and (max-width: 992px) {
  #owl-demo .owl-item:nth-child(even) .item > div:first-child {
    background: url(../images/shopicon2.svg), #00b48d;
    background-size: 28% 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100%;
  }
  .navbar-nav.ml-auto {
    align-items: flex-start;
  }
}
